<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Where to Recycle | {{ page.title }}</title>
        <link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css">
        <link rel="stylesheet" href="/styles.css">
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
		<script>
			function myFunction() {
				document.getElementById("demo").classList.toggle("w3-show");
			}
			function init() {
                if(window.location.host.match(/.*wheretorecycle.net/)) {
                    document.getElementById("updateBookMarks").classList.toggle("w3-show");
                }
            }

			addEventListener("DOMContentLoaded", init)
		</script>
    </head>
    <body>
        <h1>WhereToRecycle.Net</h1>
        <ul class="w3-navbar w3-large w3-deep-orange w3-left-align">
		<li class="w3-hide-medium w3-hide-large w3-deep-orange w3-opennav w3-right">
			<a href="javascript:void(0);" onclick="myFunction()">&#9776;</a>
		  </li>
		  <li><a class="w3-hover-light-green"  href="/">Home</a></li>
		  <li class=" w3-hide-small"><a class="w3-hover-light-green" href="/alphabetical">Alphabetical</a></li>
		  <li class=" w3-hide-small"><a class="w3-hover-light-green" href="/states">By State</a></li>
		  <li class=" w3-hide-small"><a class="w3-hover-light-green" href="/reproduce">Reproduce This for YOUR Area!!!</a></li>
		</ul>

		<div id="demo" class="w3-hide w3-hide-large w3-hide-medium">
		  <ul class="w3-navbar w3-left-align w3-large w3-deep-orange">
			<li><a class="w3-hover-light-green" href="/alphabetical">Alphabetical</a></li>
			<li><a class="w3-hover-light-green" href="/states">By State</a></li>
			<li><a class="w3-hover-light-green" href="/reproduce">Reproduce This for YOUR Area!!!</a></li>
		  </ul>
		</div>
	</ul>
{{ content }}

	<div class="w3-modal" id="updateBookMarks">
		<div class="w3-modal-content w3-card-4">
			<header class="w3-container w3-black">Please update your bookmark!</header>
			<div class="w3-container w3-border w3-topbar w3-bottombar w3-leftbar w3-rightbar">
			<p>In the near future, this URL will not work.</p>
			<p>If you want to be able to still access this website, please update your bookmark to <a href="https://mshafer1.github.io/www-where-to-recycle">https://mshafer1.github.io/www-where-to-recycle</a></p>
			<p>&nbsp;</p>
			<p>For more information, see the public GitHub announcement: <a href="https://github.com/mshafer1/www-where-to-recycle/issues/1">https://github.com/mshafer1/www-where-to-recycle/issues/1</a></p>
			</div>
		</div>
	</div>
    </body>
</html>